*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#layout{
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
}

#sidebar, #content, #nav{
    border:2px solid gray;
    padding: 20px;
}

#nav{
    flex-basis: 100%;
}
#sidebar{
    flex-basis: 20%;
}
#content{
    flex-basis:80%;
}

@media (max-width:1700px){
    #layout{
        font-size: 2.5rem;
    }
}
@media (max-width:1500px){
    #sidebar{
        flex-basis: 100%;
    }
    #content{
        flex-basis:100%;
    }
}
@media (max-width:1000px) {
    #sidebar {
        display: none;
    }
}